/*
 * Nextflow configuration (starter).
 *
 * You will expand this configuration in Part 2 of the tutorial,
 * adding resource directives, execution profiles, and provenance tracking.
 */

params {
    samples = '../data/samples.csv'
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
}
