docker.enabled = true

process {
    executor = 'slurm'
    memory = 1.GB
    withName: 'cowpy' {
        memory = { 2.GB * task.attempt }
        cpus = 2
    }

    resourceLimits = [
        memory: 10.GB,
        cpus: 4,
        time: 30.d
    ]
}

profiles {
    my_laptop {
        process.executor = 'local'
        docker.enabled = true
    }
    univ_hpc {
        process.executor = 'slurm'
        conda.enabled = true
        process.resourceLimits = [
            memory: 750.GB,
            cpus: 200,
            time: 30.d
        ]
    }
    test {
        params.greet = 'greetings.csv'
        params.batch = 'sup'
        params.character = 'dragonandcow'
    }
}
