profiles {
    docker {
        docker.enabled = true
        process {
            withName: 'FASTQC.*' { container = "community.wave.seqera.io/library/trim-galore:0.6.10--1bf8ca4e1967cd18" }
            withName: 'TRIM_GALORE' { container = "community.wave.seqera.io/library/trim-galore:0.6.10--1bf8ca4e1967cd18" }
            withName: 'HISAT2_ALIGN' { container = "community.wave.seqera.io/library/hisat2_samtools:5e49f68a37dc010e" }
            withName: 'MULTIQC.*' { container = "community.wave.seqera.io/library/pip_multiqc:ad8f247edb55897c" }
        }
    }
}
