site_name: training.nextflow.io
site_url: https://training.nextflow.io/
repo_url: https://github.com/nextflow-io/training
repo_name: nextflow-io/training

nav:
  - Home: index.md
  - Environment setup:
      - envsetup/index.md
      - envsetup/01_setup.md
      - envsetup/02_local.md
      - envsetup/03_devcontainer.md
  - Nextflow Run:
      - nextflow_run/index.md
      - nextflow_run/00_orientation.md
      - nextflow_run/01_basics.md
      - nextflow_run/02_pipeline.md
      - nextflow_run/03_config.md
  - Hello Nextflow:
      - hello_nextflow/index.md
      - hello_nextflow/00_orientation.md
      - hello_nextflow/01_hello_world.md
      - hello_nextflow/02_hello_channels.md
      - hello_nextflow/03_hello_workflow.md
      - hello_nextflow/04_hello_modules.md
      - hello_nextflow/05_hello_containers.md
      - hello_nextflow/06_hello_config.md
      - hello_nextflow/survey.md
      - hello_nextflow/next_steps.md
  - Hello nf-core:
      - hello_nf-core/index.md
      - hello_nf-core/00_orientation.md
      - hello_nf-core/01_run_demo.md
      - hello_nf-core/02_rewrite_hello.md
      - hello_nf-core/03_use_module.md
      - hello_nf-core/04_make_module.md
      - hello_nf-core/05_input_validation.md
      - hello_nf-core/summary.md
      - hello_nf-core/survey.md
      - hello_nf-core/next_steps.md
  - Nextflow for Science:
      - nf4_science/index.md
      - Genomics:
          - nf4_science/genomics/index.md
          - nf4_science/genomics/00_orientation.md
          - nf4_science/genomics/01_per_sample_variant_calling.md
          - nf4_science/genomics/02_joint_calling.md
          - nf4_science/genomics/03_modules.md
          - nf4_science/genomics/04_testing.md
          - nf4_science/genomics/survey.md
          - nf4_science/genomics/next_steps.md
      - RNAseq:
          - nf4_science/rnaseq/index.md
          - nf4_science/rnaseq/00_orientation.md
          - nf4_science/rnaseq/01_method.md
          - nf4_science/rnaseq/02_single-sample.md
          - nf4_science/rnaseq/03_multi-sample.md
          - nf4_science/rnaseq/survey.md
          - nf4_science/rnaseq/next_steps.md
      - Imaging:
          - nf4_science/imaging/index.md
          - nf4_science/imaging/00_orientation.md
          - nf4_science/imaging/01_basics.md
          - nf4_science/imaging/02_run_molkart.md
          - nf4_science/imaging/03_inputs.md
          - nf4_science/imaging/04_config.md
          - nf4_science/imaging/survey.md
          - nf4_science/imaging/next_steps.md
  - Training Collections:
      - training_collections/index.md
      - training_collections/architects_toolkit_1.md
  - Side Quests:
      - side_quests/index.md
      - side_quests/orientation.md
      - side_quests/dev_environment.md
      - side_quests/metadata.md
      - side_quests/working_with_files.md
      - side_quests/splitting_and_grouping.md
      - side_quests/workflows_of_workflows.md
      - side_quests/debugging.md
      - side_quests/essential_scripting_patterns.md
      - side_quests/nf-test.md
  - Archive:
      - Fundamentals Training:
          - archive/basic_training/index.md
          - archive/basic_training/orientation.md
          - archive/basic_training/intro.md
          - archive/basic_training/rnaseq_pipeline.md
          - archive/basic_training/containers.md
          - archive/basic_training/channels.md
          - archive/basic_training/processes.md
          - archive/basic_training/operators.md
          - archive/basic_training/groovy.md
          - archive/basic_training/modules.md
          - archive/basic_training/config.md
          - archive/basic_training/executors.md
          - archive/basic_training/seqera_platform.md
          - archive/basic_training/cache_and_resume.md
          - archive/basic_training/debugging.md
      - Advanced Training:
          - archive/advanced/index.md
          - archive/advanced/orientation.md
          - archive/advanced/operators.md
          - archive/advanced/metadata.md
          - archive/advanced/grouping.md
          - archive/advanced/groovy.md
          - archive/advanced/structure.md
          - archive/advanced/configuration.md
          - archive/advanced/summary.md
          - archive/advanced/support.md
  - Help: help.md

theme:
  name: material
  custom_dir: docs/assets/overrides
  language: en
  logo: assets/img/nextflow_logo_dark.png
  favicon: assets/img/nextflow-icon.png
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  font:
    text: Inter
    code: Roboto Mono
  features:
    - content.action.edit
    - content.code.annotate
    - content.code.copy
    - navigation.footer
    - navigation.instant
    - navigation.top
    - navigation.tracking
    - search.share
    - toc.follow
  icon:
    repo: fontawesome/brands/github
extra_css:
  - assets/stylesheets/fonts.css
  - assets/stylesheets/extra.css

extra_javascript:
  - assets/javascripts/posthog.js

# Set in docs/assets/overrides/partials/copyright.html
# so that we can have links and stuff
# copyright: Seqera

extra:
  # Announcement banner for upcoming training
  announcement:
    active: true
    text: "Nextflow Training Week (2025-Q1):"
    text_bold: March 10-14, 2025
    url: https://community.seqera.io/t/nextflow-training-week-2025-q1/1775/6
    url_text: More info
    hide_after: 2025-03-15
  # Analytics
  analytics:
    provider: google
    property: G-244N3GEN75
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our training materials better.
      Find out more on
      <a href="https://seqera.io/privacy-policy/#cookies" target="_blank" rel="noopener">how we use cookies</a>.
    cookies:
      posthog: PostHog Analytics
  # Overridden in docs/assets/overrides/partials/social.html
  # Still needs to be set to something here so that the partial is used
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/nextflowio
      name: Nextflow on twitter
  version:
    provider: mike
    alias: true
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.blocks.caption
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.snippets:
      base_path: ["."]
  - pymdownx.snippets
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - tables
  - toc:
      title: On this page
      permalink: true
plugins:
  - enumerate-headings:
      restart_increment_after:
        - envsetup/01_setup.md
        - nextflow_run/00_orientation.md
        - hello_nextflow/00_orientation.md
        - hello_nf-core/00_orientation.md
        - nf4_science/genomics/00_orientation.md
        - nf4_science/rnaseq/00_orientation.md
        - side_quests/orientation.md
        - basic_training/orientation.md
        - advanced/orientation.md

      exclude:
        - index*.md
        - help*.md
        - envsetup/*.md
        - nextflow_run/*.md
        - hello_nextflow/*.md
        - hello_nf-core/*.md
        - nf4_science/genomics/*.md
        - nf4_science/rnaseq/*.md
        - nf4_science/imaging/*.md
        - side_quests/*.md
        - training_collections/index.md
        - training_collections/advanced_workflow_development/index.md
        - basic_training/index.md
        - basic_training/orientation.md
        - advanced/index.md
        - advanced/orientation.md
        - nf_customize/index.md
        - nf_develop/index.md
  - i18n:
      docs_structure: suffix
      fallback_to_default: true
      languages:
        - build: true
          default: true
          locale: en
          name: English
        - build: true
          default: false
          locale: pt
          name: Português
        - build: true
          default: false
          locale: es
          name: Español
        - build: true
          default: false
          locale: fr
          name: Français
        - build: true
          default: false
          locale: it
          name: Italiano
        - build: true
          default: false
          locale: ko
          name: Korean
      reconfigure_material: true
      reconfigure_search: true
  - search
