profiles {
    'docker' {
        docker.enabled = true
    }
    'conda' {
        conda.enabled = true
    }
    'local' {
        process.executor = 'local'
    }
    'slurm' {
        process.executor = 'slurm'
    }
}

process {
    withName: 'GATK_HAPLOTYPECALLER' {
        cpus = 8
        memory = 4.GB
    }
}
