docker.enabled = true

/*
 * Pipeline parameters
 */

// Execution environment setup
params.baseDir = "/workspace/gitpod/nf-training/hello-nextflow" 
$baseDir = params.baseDir

// Primary input
params.reads_bam = "${baseDir}/data/samplesheet.csv"

// Accessory files
params.genome_reference = "${baseDir}/data/ref/ref.fasta"
params.genome_reference_index = "${baseDir}/data/ref/ref.fasta.fai"
params.genome_reference_dict = "${baseDir}/data/ref/ref.dict"
params.calling_intervals = "${baseDir}/data/intervals.list"

// Base name for final output file
params.cohort_name = "family_trio"

