docker.enabled = true
docker.fixOwnership = true

/*
 * Pipeline parameters
 */

// Execution environment setup
params.projectDir = "/workspace/gitpod/nf-training/hello-nextflow" 
$projectDir = params.projectDir

// Primary input
params.reads_bam = "${projectDir}/data/samplesheet.csv"

// Accessory files
params.genome_reference = "${projectDir}/data/ref/ref.fasta"
params.genome_reference_index = "${projectDir}/data/ref/ref.fasta.fai"
params.genome_reference_dict = "${projectDir}/data/ref/ref.dict"
params.calling_intervals = "${projectDir}/data/intervals.list"

// Base name for final output file
params.cohort_name = "family_trio"

