@font-face {
  font-family: Degular;
  src: url("../fonts/degular/Degular-Semibold.woff2") format("woff2");
  src: url("../fonts/degular/Degular-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Virgil";
  src: url("../fonts/excalidraw/Virgil.woff2") format("woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("../fonts/excalidraw/Cascadia.woff2") format("woff2");
}
