/*
 * Nextflow configuration.
 *
 * The workflow describes what to do; this config describes how and where.
 * The same workflow runs locally, on a cluster, or in the cloud.
 * Choose one with `-profile`.
 */

params {
    samples = '../data/samples.csv'
    salmon_index = 'https://raw.githubusercontent.com/nf-core/test-datasets/rnaseq/reference/salmon.tar.gz'
}

process {
    cpus = 2
    memory = '4.GB'
    time = '2.h'
}

profiles {

    standard {
        process.executor = 'local'
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }

    singularity {
        singularity.enabled = true
        docker.enabled = false
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'general'
        singularity.enabled = true
        singularity.cacheDir = '/shared/containers'
        docker.enabled = false
    }

    awsbatch {
        process.executor = 'awsbatch'
        process.queue = 'genomics-queue'
        workDir = 's3://my-bucket/work'
        aws.region = 'us-east-1'
    }

    test {
        process.cpus = 1
        process.memory = '2.GB'
    }
}
