/*
 * pipeline input parameters
 */

params {
    reads                                 = null
    outdir                                = "/workspaces/training/nf4-science/metagenomics/output"
    bowtie2_index                         = "/workspaces/training/nf4-science/metagenomics/data/yeast/yeast"
    kraken2_db                            = "/workspaces/training/nf4-science/metagenomics/data/viral_db"
    sheet_csv                             = null
    report                                = "/workspaces/training/nf4-science/metagenomics/bin/report.Rmd"
}

// Enable using docker as the container engine to run the pipeline
docker.enabled = true
