docker.fixOwnership = true

profiles {
    docker {
        docker.enabled = true
        conda.enabled = false
    }
    conda {
        docker.enabled = false
        conda.enabled = true
    }
        local {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
    }
}

