:root {
    --md-primary-fg-color: #27ae60;
    --md-primary-fg-color--light: #c3ead3;
    --md-primary-fg-color--dark: #1a7540;
}

.md-typeset .admonition,
.md-typeset details {
    font-size: 0.75rem;
}
