:root,
[data-md-color-scheme="default"],
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #58bd9f;
  --md-primary-fg-color--light: #c3ead3;
  --md-primary-fg-color--dark: #087f68;
  --md-primary-bg-color: #160f26;
  --md-admonition-icon--exercise: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 18h-2v-2h2v2m0-3h-2c0-3.25 3-3 3-5 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 2.5-3 2.75-3 5m9-3c0 5.18-3.95 9.45-9 9.95v-2.01c3.95-.49 7-3.86 7-7.94s-3.05-7.45-7-7.94V2.05c5.05.5 9 4.77 9 9.95M11 2.05v2.01c-1.46.18-2.8.76-3.91 1.62L5.67 4.26C7.15 3.05 9 2.25 11 2.05M4.06 11H2.05c.2-2 1-3.85 2.21-5.33L5.68 7.1A7.902 7.902 0 0 0 4.06 11M11 19.94v2.01c-2-.2-3.85-.99-5.33-2.21l1.42-1.42c1.11.86 2.45 1.44 3.91 1.62M2.05 13h2.01c.18 1.46.76 2.8 1.62 3.91l-1.42 1.42A10.013 10.013 0 0 1 2.05 13Z"></path></svg>');
  --md-admonition-icon--result: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.5 2h-13C3.6 2 2 3.6 2 5.5v13C2 20.4 3.6 22 5.5 22H16l6-6V5.5C22 3.6 20.4 2 18.5 2M7 12.5l1.3-1.4 2.1 2.1L15.6 8 17 9.4 10.5 16 7 12.5m8 7.5v-1.5c0-1.9 1.6-3.5 3.5-3.5H20l-5 5Z"></path></svg>');
  --md-admonition-icon--solution: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.5 2h-13C3.6 2 2 3.6 2 5.5v13C2 20.4 3.6 22 5.5 22H16l6-6V5.5C22 3.6 20.4 2 18.5 2M7 12.5l1.3-1.4 2.1 2.1L15.6 8 17 9.4 10.5 16 7 12.5m8 7.5v-1.5c0-1.9 1.6-3.5 3.5-3.5H20l-5 5Z"></path></svg>');
}
:root > * {
  --md-code-hl-comment-color: var(--md-default-fg-color--lighter);
}
.md-footer {
  z-index: 1;
}

/* Custom admonitions */
/*
:root {
  --md-admonition-icon--terminal: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M244 246c-3.2-2-6.3-2.9-10.1-2.9-6.6 0-12.6 3.2-19.3 3.7l1.7 4.9zm135.9 197.9c-19 0-64.1 9.5-79.9 19.8l6.9 45.1c35.7 6.1 70.1 3.6 106-9.8-4.8-10-23.5-55.1-33-55.1zM340.8 177c6.6 2.8 11.5 9.2 22.7 22.1 2-1.4 7.5-5.2 7.5-8.6 0-4.9-11.8-13.2-13.2-23 11.2-5.7 25.2-6 37.6-8.9 68.1-16.4 116.3-52.9 146.8-116.7C548.3 29.3 554 16.1 554.6 2l-2 2.6c-28.4 50-33 63.2-81.3 100-31.9 24.4-69.2 40.2-106.6 54.6l-6.3-.3v-21.8c-19.6 1.6-19.7-14.6-31.6-23-18.7 20.6-31.6 40.8-58.9 51.1-12.7 4.8-19.6 10-25.9 21.8 34.9-16.4 91.2-13.5 98.8-10zM555.5 0l-.6 1.1-.3.9.6-.6zm-59.2 382.1c-33.9-56.9-75.3-118.4-150-115.5l-.3-6c-1.1-13.5 32.8 3.2 35.1-31l-14.4 7.2c-19.8-45.7-8.6-54.3-65.5-54.3-14.7 0-26.7 1.7-41.4 4.6 2.9 18.6 2.2 36.7-10.9 50.3l19.5 5.5c-1.7 3.2-2.9 6.3-2.9 9.8 0 21 42.8 2.9 42.8 33.6 0 18.4-36.8 60.1-54.9 60.1-8 0-53.7-50-53.4-60.1l.3-4.6 52.3-11.5c13-2.6 12.3-22.7-2.9-22.7-3.7 0-43.1 9.2-49.4 10.6-2-5.2-7.5-14.1-13.8-14.1-3.2 0-6.3 3.2-9.5 4-9.2 2.6-31 2.9-21.5 20.1L15.9 298.5c-5.5 1.1-8.9 6.3-8.9 11.8 0 6 5.5 10.9 11.5 10.9 8 0 131.3-28.4 147.4-32.2 2.6 3.2 4.6 6.3 7.8 8.6 20.1 14.4 59.8 85.9 76.4 85.9 24.1 0 58-22.4 71.3-41.9 3.2-4.3 6.9-7.5 12.4-6.9.6 13.8-31.6 34.2-33 43.7-1.4 10.2-1 35.2-.3 41.1 26.7 8.1 52-3.6 77.9-2.9 4.3-21 10.6-41.9 9.8-63.5l-.3-9.5c-1.4-34.2-10.9-38.5-34.8-58.6-1.1-1.1-2.6-2.6-3.7-4 2.2-1.4 1.1-1 4.6-1.7 88.5 0 56.3 183.6 111.5 229.9 33.1-15 72.5-27.9 103.5-47.2-29-25.6-52.6-45.7-72.7-79.9zm-196.2 46.1v27.2l11.8-3.4-2.9-23.8zm-68.7-150.4l24.1 61.2 21-13.8-31.3-50.9zm84.4 154.9l2 12.4c9-1.5 58.4-6.6 58.4-14.1 0-1.4-.6-3.2-.9-4.6-26.8 0-36.9 3.8-59.5 6.3z"/></svg>');
}*/
.md-typeset .admonition.terminal,
.md-typeset details.terminal {
  border-color: rgb(43, 155, 70);
}
.md-typeset .terminal > .admonition-title,
.md-typeset .terminal > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .terminal > .admonition-title::before,
.md-typeset .terminal > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--terminal);
  mask-image: var(--md-admonition-icon--terminal);
}

/* Seqera style typography */
.md-typeset h1 {
  color: var(--md-default-fg-color);
  font-size: 2rem;
  font-family: "Degular", sans-serif;
  line-height: 2.5rem;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 0.5em;
}
.md-typeset h2 {
  font-size: 1.5rem;
  font-family: "Degular", sans-serif;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: 0;
}
.md-typeset h3 {
  font-size: 1.2rem;
  font-family: "Degular", sans-serif;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0;
}
@media (min-width: 768px) {
  .md-typeset h1 {
    font-family: "Degular", sans-serif;
    font-size: 3.2rem;
    line-height: 4rem;
  }
  .md-typeset h2 {
    font-family: "Degular", sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .md-typeset h3 {
    font-family: "Degular", sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* Dark mode figures */
body[data-md-color-scheme="slate"] figure img,
body[data-md-color-scheme="slate"] .excalidraw svg {
  filter: invert(100%) hue-rotate(180deg);
}
.excalidraw svg rect {
  fill: transparent;
}

/* Only show heading enumerations at levels we care about */
.enumerate-headings-plugin {
  display: none;
}
h2 .enumerate-headings-plugin,
h3 .enumerate-headings-plugin {
  display: inline;
}
.md-typeset h1 .headerlink {
  display: none;
}

/* Homepage Seqera-style buttons */
*:is(.md-typeset .md-button, .md-banner .md-button) {
  border-radius: 2rem;
  transition: padding 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
*:is(.md-typeset .md-button, .md-banner .md-button) .twemoji {
  height: 1.15rem;
  position: absolute;
  right: 0.5rem;
  top: 25%;
  opacity: 0;
}
.md-banner .md-button {
  padding: 0.3em 0.8em;
  font-size: 0.8em;
}
.md-banner .md-button .twemoji {
  height: 0.6rem;
}
*:is(.md-typeset .md-button, .md-banner .md-button) svg {
  transition: opacity 0.1s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  height: 1.15rem;
  width: 1.15rem;
}
*:is(.md-typeset .md-button, .md-banner .md-button):hover,
*:is(.md-typeset .md-button, .md-banner .md-button):focus,
*:is(.md-typeset .md-button, .md-banner .md-button):active {
  padding-right: 2.4rem;
  background-color: transparent;
  border-color: var(--md-primary-fg-color);
  color: var(--md-primary-fg-color);
}
.md-banner .md-button:hover,
.md-banner .md-button:focus,
.md-banner .md-button:active {
  padding-right: 1.6rem;
}
*:is(.md-typeset .md-button, .md-banner .md-button).md-button--primary:hover,
*:is(.md-typeset .md-button, .md-banner .md-button).md-button--primary:focus,
*:is(.md-typeset .md-button, .md-banner .md-button).md-button--primary:active {
  background-color: var(--md-primary-fg-color);
  color: var(--md-primary-bg-color);
}
*:is(.md-typeset .md-button, .md-banner .md-button):hover .twemoji,
*:is(.md-typeset .md-button, .md-banner .md-button):focus .twemoji,
*:is(.md-typeset .md-button, .md-banner .md-button):active .twemoji {
  opacity: 1;
}

.md-banner {
  background-color: #17191e;
}

/* Homepage logos */
.homepage_logos {
  text-align: center;
}
.homepage_logos img {
  height: 2rem;
  max-width: 100%;
  margin: 1rem auto 0;
}

/* Custom right-hand-side sidebar */
.sidebar_resources {
  margin-top: 2rem;
}
.sidebar_resources svg {
  fill: currentcolor;
  max-height: 100%;
  width: 1.125em;
  margin-right: 0.5rem;
  opacity: 0.6;
}
.sidebar_resources .md-nav__link {
  justify-content: left;
}
@media screen and (min-width: 59.9375em) {
  .md-sidebar--secondary .md-sidebar__inner > nav > .md-nav__list {
    border-left: 3px solid var(--md-default-fg-color--lightest);
  }
}
@media screen and (max-width: 59.9375em) {
  .sidebar_resources {
    display: none !important;
  }
}

/* Custom Footer */
.footer_cc_link svg {
  fill: currentcolor;
  width: 0.8rem;
  height: 0.8rem;
  vertical-align: -18%;
}
.footer_seqera_logo img {
  opacity: 0.5;
  height: 1.5rem;
  margin-top: 0.6rem;
}
.footer_seqera_logo:hover img,
.footer_seqera_logo:active img,
.footer_seqera_logo:focus img {
  opacity: 0.8;
}

/* Custom admonitions */
.md-typeset .admonition.exercise,
.md-typeset details.exercise {
  border-color: rgb(142, 142, 142);
  font-size: 0.8rem;
}
.md-typeset .exercise > .admonition-title,
.md-typeset .exercise > summary {
  background-color: rgba(153, 153, 153, 0.1);
}
.md-typeset .exercise > .admonition-title::before,
.md-typeset .exercise > summary::before {
  background-color: rgb(146, 146, 146);
  -webkit-mask-image: var(--md-admonition-icon--exercise);
  mask-image: var(--md-admonition-icon--exercise);
}

.md-typeset .admonition.result,
.md-typeset details.result {
  border-color: rgb(0, 200, 83);
  font-size: 0.8rem;
}
.md-typeset .result > .admonition-title,
.md-typeset .result > summary {
  background-color: rgba(0, 200, 83, 0.102);
}
.md-typeset .result > .admonition-title::before,
.md-typeset .result > summary::before {
  background-color: rgb(0, 200, 83);
  -webkit-mask-image: var(--md-admonition-icon--result);
  mask-image: var(--md-admonition-icon--result);
}
.md-typeset .admonition.solution,
.md-typeset details.solution {
  border-color: rgb(0, 200, 83);
  font-size: 0.8rem;
}
.md-typeset .solution > .admonition-title,
.md-typeset .solution > summary {
  background-color: rgba(0, 200, 83, 0.102);
}
.md-typeset .solution > .admonition-title::before,
.md-typeset .solution > summary::before {
  background-color: rgb(0, 200, 83);
  -webkit-mask-image: var(--md-admonition-icon--result);
  mask-image: var(--md-admonition-icon--result);
}

/* Bigger table font size */
.md-typeset table:not([class]) {
  font-size: 0.8rem;
}

/* YouTube video embeds */
.md-typeset figure:has(.video-wrapper) {
  width: 100%;
}
.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.youtube {
  color: #ee0f0f;
}
.nextflow-primary {
  color: #58bd9f;
}
