{% extends "base.html" %} {% block announce %}
<div style="text-align: center">
  {{ config.extra.announcement.text }}
  <strong>{{ config.extra.announcement.text_bold }}</strong>
  <a
    class="md-button"
    href="{{ config.extra.announcement.url }}"
    target="_blank"
  >
    {{ config.extra.announcement.url_text }}
    <span class="twemoji"
      ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M4 11v2h12l-5.5 5.5 1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5 16 11H4Z"
        ></path></svg
    ></span>
  </a>
</div>
<style type="text/css">
  .md-banner {
    display: none;
  }
</style>
{% if config.extra.announcement.active %}
<script>
  (function () {
    function hideAnnouncement() {
      var announcementDate = new Date(
        "{{ config.extra.announcement.hide_after }}T00:00:00Z",
      );
      var currentDate = new Date();
      var banner = document.querySelector(".md-banner");
      if (banner && currentDate <= announcementDate) {
        banner.style.display = "block";
      }
    }

    // Run on initial load
    hideAnnouncement();

    // Hook into XHR to run after each page update
    var originalOpen = XMLHttpRequest.prototype.open;
    XMLHttpRequest.prototype.open = function () {
      this.addEventListener("load", function () {
        setTimeout(hideAnnouncement, 0); // Ensure it runs after the request completes
      });
      return originalOpen.apply(this, arguments);
    };
  })();
</script>
{% endif %} {% endblock %}
